<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=BioRhyme|Cabin&display=swap" rel="stylesheet">
  <title>Team Display Page</title>
</head>

<body>
  <div class="jumbotron jumbotron-fluid bg-success">
    <div class="container text-center">
      <h1 class="display-4">Team</h1>
      <p class="lead">Below is my team info</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-between">
      ((((Team Members Go Here))))
    </div>
  </div>
</body>

</html>